<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zj970.broadcasttest2">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.BroadcastTest">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".AnotherBroadcastReceiver"
                  android:exported="true"
                  android:enabled="true">
            <intent-filter >

                <action android:name="com.zj970.broadcasttest.MY_BROADCAST"/><!--<action android:name="com.zj970.broadcasttest.MY_BROADCAST"/> 这里本地广播是接收到不到的-->
            </intent-filter>
        </receiver>
    </application>
</manifest>